/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.container {
    padding-left: 8px;
    padding-right: 8px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: rgba(0,0,0,.54);
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #aba1a1bf;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);;
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    /*background: #aba1a1bf;*/
}

#sidebar ul.components {
    padding: 60px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    overflow-wrap: break-word;
    padding-left: 5px;
}

#sidebar ul p {
    color: rgba(0,0,0,.54);
    padding: 10px;
}

.sidebar-header > p > svg {
    fill: rgba(0,0,0,.54);
    margin-right: 10px;
    padding-top: 3px;
    /* margin-top: 5px; */
    margin-bottom: -3px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    padding-bottom: 20px; 
    top: 0;
    right: 0;
}

.sidebarCollapse{
    height: 64px;
    padding: 18px;
    width: fit-content;
}

.search-box {
    border-radius: 20px 0 0 20px;
}

.search-btn {
    border-radius: 0 20px 20px 0;
}

#search-panel {
    position: -webkit-sticky;
    position: sticky;
    top: 3px;
    left: 0;
    z-index: 200;
}

#create-btn {
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    display: block;
    /* height: 0px; */
}

a span {
    margin-left: 5px;
    margin-right: 5px; 
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.form-control{width:20%}
.navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}
.navbar-nav:last-child{ border-right:0}

.fairplay_logo > img {
    display: block;
    margin: auto;
    padding: 12px;
}

.header {
    height: 64px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
    left: 0;
}
.card-deck {
    margin-top: 40px;
    margin-bottom: 20px;
}

.card-tips{
    margin: 10px; 
}

p.card-text.giveaway-desc:before {
    content: '......';
    /* float: right; */
    margin-top: 3.4em;
    /* margin-right: 5px; */
    position: absolute;
}

p.card-text.giveaway-desc {
    line-height: 1.7em;
    max-height: 3.4em;
    overflow: hidden;
}

.card-footer small {
    display: inline-block;
}

.dapp-version {
    float: right;
}

.prize-img-container {
    position: relative;
    height: 180px;
    overflow: hidden;
}

.prize-img-container img {
    top: -40%;
}

.prize-img{
    position: absolute;
}

.nav-details{
    width: 100%;
}

.img-filter {
    filter: opacity(40%)  grayscale(50%);;
}

.more-plays{
    display: block;
    text-align: center;
}

.create-mine{
    position: fixed;
    bottom: 30px;
    right: 40px;
}

.profile_hr{
    border-bottom: 0 solid #e1e1e1;
    margin-left: -10px;
}

.tag-font{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px dotted;
    padding: 5px;
    width: fit-content;
    transform: rotate(30deg);
    /* overflow: visible; */
    float: right;
    position: absolute;
    z-index: 100;
    right: -5px;
    top: 25px;
}

.red {
    color: red; 
}

.green {
    color: green;
}


.rm-giveaway{
    float: right;
}

.normal-font{
    font-size: 1em;
}